NOTION_DB=your_notion_database_id
NOTION_KEY=your_notion_api_key
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_PRIVATE_KEY=your_google_private_key
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account_email
